
body{
    font-family: Open sans, Arial, sans-serif;
    font-size: 16px;
}
.header{
    padding: 30px;
    background: rgba(255,255,255,0.9);
    height: 37px;
}
.logo{
    width: 25%;
    float: left;
}
.navigation{
    width: 70%;
    float: right;
    text-align: right;
}
.navigation a{
    color: #323232;
    text-decoration: none;

    text-transform: uppercase;
    margin: 30px;
    font-size: 19px;
    transition: all 0.4s;
}
.navigation a:hover{
    color: #3799DB;
}

.section-hero{
    height: 650px;
    background: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.section-hero .content{
    color: white;
    width: 30%;
    position: absolute;
    right: 60px;
    bottom: 74px;
    text-align: right;
}
.section-hero .content h2{
    text-transform:uppercase;
    letter-spacing: 0.15rem;
    font-weight: 600;
    margin-bottom: 0;
}
.section-hero .content h3{
    font-style: italic;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
}
.section-hero .content h4{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 1rem
}
.section-featured {
    text-align: center;
    margin-top: 18px;
}
.section-featured .box{
    background: black;
    background-position: center;
    background-size: cover;
    display:inline-block;
    min-width: 24.7%;
    min-height: 220px;
    margin: 0;
    text-indent: -9999px;
}
.section-featured .box-1{
    background-image: url(../img/spotlight-one.jpg);
}
.section-featured .box-2{
    background-image: url(../img/spotlight-two.jpg);
}
.section-featured .box-3{
    background-image: url(../img/spotlight-three.jpg);
}
.section-featured .box-4{
    background-image: url(../img/spotlight-four.jpg);
}

.section-bikes{
    border: 1px solid red;
}
.section-bikes .box{
    border: 1px solid blue;
    display: inline-block;
}
.section-bikes .box footer{
    border: 1px solid lime;
}